<section>
  
</section>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="tabular_info">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#experience" aria-controls="home" role="tab" data-toggle="tab">Experience</a></li>
            <li role="presentation"><a href="#education" aria-controls="profile" role="tab" data-toggle="tab">Education</a></li>
            <li role="presentation"><a href="#capstone" aria-controls="messages" role="tab" data-toggle="tab">Capstone</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="experience">...</div>
            <div role="tabpanel" class="tab-pane" id="education">...</div>
            <div role="tabpanel" class="tab-pane" id="capstone">...</div>
          </div>

        </div><!--end tabular_info-->

    </div>
  </div>
</section>